In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=list('AB'))

In [6]:
df

Empty DataFrame
Columns: [A, B]
Index: []

In [4]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

In [7]:
df.append(df2,ignore_index=True)

   A  B
0  5  6
1  7  8